<header class="header">
    <div class="header__logo-section">
        <img src="../../../../../assets/image/logo_peachbook.svg" alt="peachbook" class="header__logo">
    </div>

    
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-list__item header__navigation-list__item_active">Заметки</li>
            <li class="header__navigation-list__item">Задачи</li>
            <li class="header__navigation-list__item">Документы</li>
            <li class="header__navigation-list__item">Напоминания</li>
        </ul>

        <ul class="header__navigation-list">
            <li class="header__navigation-list__item">Архив</li>
            <li class="header__navigation-list__item">Корзина</li>
        </ul>
    </nav>
</header>