.header {
    width: 250px;
    min-height: 100vh;
    background-color: var(--theme-background-menu);

    &__logo-section {
        padding: 40px 20px;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &-list {
            &__item {
                padding: 10px 20px;

                font-weight: 400;
                font-size: 20px;
                line-height: 27px;

                color: var(--text-normal);

                cursor: pointer;
                transition: all ease .3s;

                &_active {
                    background-color: var(--theme-interactive-normal);
                    
                    font-weight: 500;
                    color: var(--theme-interactive-txt-vector)
                }

                &:hover {
                    background-color: var(--theme-nav-hover);
                }
            }
        }
    }
}