@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    min-height: 100vh;
}

:root {
    --theme-background: #FDFCDC;
    --theme-backgroun-blur: rgba(48, 3, 0, 0.6);

    --theme-background-menu: #FED9B7;
    --theme-nav-hover: #FABFA3;

    --theme-text-normal: #530B06;
    --theme-text-secondary: #C87855;

    --theme-interactive-normal: #F07167;
    --theme-interactive-hover: #FA493B;
    --theme-interactive-active: #E96E29;
    --theme-interactive-note-icons: #B8352B;
    --theme-interactive-txt-vector: #FDF4F0;
    --theme-interactive-dark-text: #C4693E;
}